<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="Site Description">
	<meta name="keywords" content="HTML, CSS, JavaScript, Bootstrap">
	<meta name="author" content="Mr. Who">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dashboard</title>


	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Sanchez:ital@0;1&display=swap"
		rel="stylesheet">

	<!-- Bootstrap -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<!-- owl.carousel -->
	<link rel="stylesheet" href="assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
	<!-- Main Css -->
	<link rel="stylesheet" href="style.css">
	<!-- Responsive Css -->
	<link rel="stylesheet" href="assets/css/responsive.css">

</head>

<body>

	<div class="bodyWrap dashboard">

		<div class="container">
			<div class="dashboard_wraper row">
				<div class="dashboard_main">
					<h1 class="dash-title">System/Display Report für März 2022</h1>
					<div class="list_box">
						<h2>Offline im März</h2>
						<p>Übersicht der Systeme die im März duchgehend Offline waren</p>
						<div class="dash-table">
							<table class="table">
								<thead>
									<tr>
										<th>ID</th>
										<th>Adresse</th>
										<th>Ort</th>
										<th>Anschluß</th>
										<th>Design</th>
										<th>RAM (frei)</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>12345</td>
										<td>Oppelner Strasse 1</td>
										<td>30169 Hannover</td>
										<td>DSL</td>
										<td>3D Design</td>
										<td>2.45 GB</td>
									</tr>
									<tr>
										<td>12345</td>
										<td>Oppelner Strasse 1</td>
										<td>30169 Hannover</td>
										<td>DSL</td>
										<td>3D Design</td>
										<td>2.45 GB</td>
									</tr>
									<tr>
										<td>12345</td>
										<td>Oppelner Strasse 1</td>
										<td>30169 Hannover</td>
										<td>DSL</td>
										<td>3D Design</td>
										<td>2.45 GB</td>
									</tr>
									<tr>
										<td>12345</td>
										<td>Oppelner Strasse 1</td>
										<td>30169 Hannover</td>
										<td>DSL</td>
										<td>3D Design</td>
										<td>2.45 GB</td>
									</tr>
									<tr>
										<td>12345</td>
										<td>Oppelner Strasse 1</td>
										<td>30169 Hannover</td>
										<td>DSL</td>
										<td>3D Design</td>
										<td>2.45 GB</td>
									</tr>
								</tbody>
							</table>
						</div>
						<a href="#" class="location_pin" data-bs-toggle="modal" data-bs-target="#tableModal">
							<img src="assets/img/lightbulb.svg" alt="lightbulb"> Was können Sie tun?
						</a>
					</div>
					<div class="list_box">
						<h2>Download/Upload kritisch im März</h2>
						<p>Übersicht der Systeme deren Download- oder Upload Geschwindigkeit unter den
							Mindestanforderungen lag</p>
						<div class="dash-table">
							<table class="table">
								<thead>
									<tr>
										<th>ID</th>
										<th>Adresse</th>
										<th>Ort</th>
										<th>Anschluß</th>
										<th>Downstream</th>
										<th>Upstream</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>12345</td>
										<td>Oppelner Strasse 1</td>
										<td>30169 Hannover</td>
										<td>DSL</td>
										<td>0.1</td>
										<td>0.1</td>
									</tr>
									<tr>
										<td>12345</td>
										<td>Oppelner Strasse 1</td>
										<td>30169 Hannover</td>
										<td>DSL</td>
										<td>0.1</td>
										<td>0.1</td>
									</tr>
									<tr>
										<td>12345</td>
										<td>Oppelner Strasse 1</td>
										<td>30169 Hannover</td>
										<td>DSL</td>
										<td>0.1</td>
										<td>0.1</td>
									</tr>
									<tr>
										<td>12345</td>
										<td>Oppelner Strasse 1</td>
										<td>30169 Hannover</td>
										<td>DSL</td>
										<td>0.1</td>
										<td>0.1</td>
									</tr>
									<tr>
										<td>12345</td>
										<td>Oppelner Strasse 1</td>
										<td>30169 Hannover</td>
										<td>DSL</td>
										<td>0.1</td>
										<td>0.1</td>
									</tr>
								</tbody>
							</table>
						</div>
						<a href="#" class="location_pin" data-bs-toggle="modal" data-bs-target="#tableModal">
							<img src="assets/img/lightbulb.svg" alt="lightbulb"> Was können Sie tun?
						</a>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="list_box">
								<h2>Nicht verbaute Displays</h2>
								<p>Displays die bereits für Sie eingerichtet wurden</p>
								<div class="dash-list">
									<h3>In Bereitschaft stehende Displays</h3>
									<ul>
										<li>
											<p>Schweiditzer Weg 6</p>
											<p>30123 Hannover</p>
										</li>
										<li>
											<p>Heimgartenstr. 12 </p>
											<p>30123 Hannover</p>
										</li>
										<li>
											<p>Heimgartenstr. 12 </p>
											<p>30123 Hannover</p>
										</li>
										<li>
											<p>Heimgartenstr. 12 </p>
											<p>30123 Hannover</p>
										</li>
										<li>
											<p>Heimgartenstr. 12 </p>
											<p>30123 Hannover</p>
										</li>
										<li>
											<p>Schweiditzer Weg 6</p>
											<p>30123 Hannover</p>
										</li>
										<li>
											<p>Heimgartenstr. 12 </p>
											<p>30123 Hannover</p>
										</li>
										<li>
											<p>Heimgartenstr. 12 </p>
											<p>30123 Hannover</p>
										</li>
										<li>
											<p>Heimgartenstr. 12 </p>
											<p>30123 Hannover</p>
										</li>
									</ul>
								</div>
								<a href="#" class="location_pin" data-bs-toggle="modal" data-bs-target="#tableModal">
									<img src="assets/img/lightbulb.svg" alt="lightbulb"> Was können Sie tun?
								</a>
							</div>
						</div>
						<div class="col-md-6">
							<div class="list_box">
								<h2>Überhitze Systeme</h2>
								<p>Die empfohlene Höchsttemeratur dauerhaft überschritten</p>
								<div class="dash-list">
									<h3>Warung vor Überhitzung</h3>
									<ul>
										<li>
											<p>Schweiditzer Weg 6</p>
											<p>30123 Hannover</p>
										</li>
										<li>
											<p>Heimgartenstr. 12 </p>
											<p>30123 Hannover</p>
										</li>
										<li>
											<p>Heimgartenstr. 12 </p>
											<p>30123 Hannover</p>
										</li>
										<li>
											<p>Heimgartenstr. 12 </p>
											<p>30123 Hannover</p>
										</li>
										<li>
											<p>Heimgartenstr. 12 </p>
											<p>30123 Hannover</p>
										</li>
									</ul>
								</div>
								<a href="#" class="location_pin" data-bs-toggle="modal" data-bs-target="#tableModal">
									<img src="assets/img/lightbulb.svg" alt="lightbulb"> Was können Sie tun?
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="dashboard_right">
					<a href="#" class="dashdigital">
						<img src="assets/img/DasDigitaleBrett_Logo.svg" alt="DasDigitaleBrett_Logo">
					</a>
					<div class="SupportanfrageBox">
						<img src="assets/img/rocket.svg" class="rocket">
						<h3>Supportanfrage</h3>
						<p>Serviceanfrage zu dieser Seite an die Technik</p>
						<a href="#" class="whiteBtn">SENDEN</a>
					</div>
					<div class="rightBottom">
						<p>HOMEINFO SERVICE GMBH</p>
						<h4>0511 / 12 34 56</h4>
						<a href="mailto:helpdesk@homeinfoservicegmbh.de">helpdesk@homeinfoservicegmbh.de</a>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal -->
		<div class="tableModal modal fade" id="tableModal" tabindex="-1" aria-labelledby="tableModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body">
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
							<img src="assets/img/close.svg" alt="">
						</button>
						<h2>Warung vor Überhitzung</h2>
						<h4>In Bereitschaft stehende Displays</h4>
						<p>Saltung ernitüg volzoff geschankt Vernöt gütek ist altog vonnderdort Helmsub tideldub roggenbrot nimmer sattolo im rugenfell so sanften doch nierg Vergilbert. Tunsch vorm killer im Fjordog kalimsch Kerl o Kister woller hamsema gehste ma vonne Runle terschülend nedunfeg egitülend Gristerbog ollten Kenniworm. Jügedo fripap kon lalitate Agonip stüppen, friegop pergode Natille. Schümpe rasünte gadobeff wirk on Systermek hin hupp unt her. Höller unt Manschla kimmten inne kötsche mi tisla Gymnoptikum etne, dabbe hamse tifla pict, ram, rom egge Manu tze wirmubuk scheinig.</p>
					</div>
				</div>
			</div>
		</div>

	</div> <!-- /.bodyWrap -->

	<!-- Js -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/bootstrap.bundle.min.js"></script>
	<script src="assets/js/owl.carousel.min.js"></script>
	<script src="assets/js/active.js"></script>

</body>

</html>