<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="Site Description">
	<meta name="keywords" content="HTML, CSS, JavaScript, Bootstrap">
	<meta name="author" content="Mr. Who">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dashboard</title>


	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Sanchez:ital@0;1&display=swap"
		rel="stylesheet">

	<!-- Bootstrap -->
    <f:asset.css identifier="bootstrap" href="EXT:sysmon2/Resources/Public/Css/bootstrap.min.css" />
	<!-- owl.carousel -->
    <f:asset.css identifier="owl.carousel" href="EXT:sysmon2/Resources/Public/Css/owl.carousel.min.css" />
    <f:asset.css identifier="owl.theme" href="EXT:sysmon2/Resources/Public/Css/owl.theme.default.min.css" />
	<!-- Main Css -->
    <f:asset.css identifier="main" href="EXT:sysmon2/Resources/Public/Css/style.css" />
	<!-- Responsive Css -->
    <f:asset.css identifier="responsive" href="EXT:sysmon2/Resources/Public/Css/responsive.css" />

</head>

<body>

	<div class="bodyWrap dashboard">

		<div class="container">
			<div class="dashboard_wraper row">
				<div class="dashboard_main">
					<h1 class="dash-title">System/Display Report für März 2022</h1>
					<div class="list_box">
						<h2>Offline im März</h2>
						<p>Übersicht der Systeme die im März duchgehend Offline waren</p>
						<div class="dash-table">
							<table class="table">
								<thead>
									<tr>
										<th>ID</th>
										<th>Adresse</th>
										<th>Ort</th>
										<th>Anschluß</th>
										<th>Modell</th>
										<th>Letzte Datenübertragung</th>
									</tr>
								</thead>
								<tbody>
									<f:for each="systemsWithCheckResults" as="checkedSystem">
										<tr>
											<td>{checkedSystem.id}</td>
											<td>{checkedSystem.deployment.address.street} {checkedSystem.deployment.address.houseNumber}</td>
											<td>{checkedSystem.deployment.address.zipCode} {checkedSystem.deployment.address.city}</td>
											<td>{checkedSystem.deployment.connection}</td>
											<td>{checkedSystem.model}</td>
											<td>{checkedSystem.lastSync}</td>
										</tr>
									</f:for>
								</tbody>
							</table>
						</div>
						<a href="#" class="location_pin" data-bs-toggle="modal" data-bs-target="#tableModal">
							<img src="/typo3conf/ext/sysmon2/Resources/Public/Icons/lightbulb.svg" alt="lightbulb"> Was können Sie tun?
						</a>
					</div>
					<div class="list_box">
						<h2>Download/Upload kritisch im März</h2>
						<p>Übersicht der Systeme deren Download- oder Upload Geschwindigkeit unter den
							Mindestanforderungen lag</p>
						<div class="dash-table">
							<table class="table">
								<thead>
									<tr>
										<th>ID</th>
										<th>Adresse</th>
										<th>Ort</th>
										<th>Anschluß</th>
										<th>Downstream</th>
										<th>Upstream</th>
									</tr>
								</thead>
								<tbody>
									<f:for each="systemsWithCheckResults" as="checkedSystem">
										<tr>
											<td>{checkedSystem.id}</td>
											<td>{checkedSystem.deployment.address.street} {checkedSystem.deployment.address.houseNumber}</td>
											<td>{checkedSystem.deployment.address.zipCode} {checkedSystem.deployment.address.city}</td>
											<td>{checkedSystem.deployment.connection}</td>
											<td>{checkedSystem.mean.downstream}</td>
											<td>{checkedSystem.mean.upstream}</td>
										</tr>
									</f:for>
								</tbody>
							</table>
						</div>
						<a href="#" class="location_pin" data-bs-toggle="modal" data-bs-target="#tableModal">
							<img src="/typo3conf/ext/sysmon2/Resources/Public/Icons/lightbulb.svg" alt="lightbulb"> Was können Sie tun?
						</a>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="list_box">
								<h2>Nicht verbaute Displays</h2>
								<p>Displays die bereits für Sie eingerichtet wurden</p>
								<div class="dash-list">
									<h3>In Bereitschaft stehende Displays</h3>
									<ul>
										<f:for each="systemsWithCheckResults" as="checkedSystem">
											<li>
												<p>{checkedSystem.deployment.address.street} {checkedSystem.deployment.address.houseNumber}</p>
												<p>{checkedSystem.deployment.address.zipCode} {checkedSystem.deployment.address.city}</p>
											</li>
										</f:for>
									</ul>
								</div>
								<a href="#" class="location_pin" data-bs-toggle="modal" data-bs-target="#tableModal">
									<img src="/typo3conf/ext/sysmon2/Resources/Public/Icons/lightbulb.svg" alt="lightbulb"> Was können Sie tun?
								</a>
							</div>
						</div>
						<div class="col-md-6">
							<div class="list_box">
								<h2>Überhitze Systeme</h2>
								<p>Die empfohlene Höchsttemeratur dauerhaft überschritten</p>
								<div class="dash-list">
									<h3>Warung vor Überhitzung</h3>
									<ul>
										<f:for each="systemsWithCheckResults" as="checkedSystem">
											<li>
												<p>{checkedSystem.deployment.address.street} {checkedSystem.deployment.address.houseNumber}</p>
												<p>{checkedSystem.deployment.address.zipCode} {checkedSystem.deployment.address.city}</p>
											</li>
										</f:for>
									</ul>
								</div>
								<a href="#" class="location_pin" data-bs-toggle="modal" data-bs-target="#tableModal">
									<img src="/typo3conf/ext/sysmon2/Resources/Public/Icons/lightbulb.svg" alt="lightbulb"> Was können Sie tun?
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="dashboard_right">
					<a href="#" class="dashdigital">
						<img src="/typo3conf/ext/sysmon2/Resources/Public/Icons/DasDigitaleBrett_Logo.svg" alt="DasDigitaleBrett_Logo">
					</a>
					<div class="SupportanfrageBox">
						<img src="/typo3conf/ext/sysmon2/Resources/Public/Icons/rocket.svg" class="rocket">
						<h3>Supportanfrage</h3>
						<p>Serviceanfrage zu dieser Seite an die Technik</p>
						<a href="#" class="whiteBtn">SENDEN</a>
					</div>
					<div class="rightBottom">
						<p>HOMEINFO SERVICE GMBH</p>
						<h4>0511 / 12 34 56</h4>
						<a href="mailto:helpdesk@homeinfoservicegmbh.de">helpdesk@homeinfoservicegmbh.de</a>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal -->
		<div class="tableModal modal fade" id="tableModal" tabindex="-1" aria-labelledby="tableModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body">
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
							<img src="/typo3conf/ext/sysmon2/Resources/Public/Icons/close.svg" alt="">
						</button>
						<h2>Warung vor Überhitzung</h2>
						<h4>In Bereitschaft stehende Displays</h4>
						<p>Saltung ernitüg volzoff geschankt Vernöt gütek ist altog vonnderdort Helmsub tideldub roggenbrot nimmer sattolo im rugenfell so sanften doch nierg Vergilbert. Tunsch vorm killer im Fjordog kalimsch Kerl o Kister woller hamsema gehste ma vonne Runle terschülend nedunfeg egitülend Gristerbog ollten Kenniworm. Jügedo fripap kon lalitate Agonip stüppen, friegop pergode Natille. Schümpe rasünte gadobeff wirk on Systermek hin hupp unt her. Höller unt Manschla kimmten inne kötsche mi tisla Gymnoptikum etne, dabbe hamse tifla pict, ram, rom egge Manu tze wirmubuk scheinig.</p>
					</div>
				</div>
			</div>
		</div>

	</div> <!-- /.bodyWrap -->

	<!-- Js -->
    <f:asset.script identifier="jquery" src="EXT:sysmon2/Resources/Public/JavaScript/jquery.min.js" />
    <f:asset.script identifier="bootstrap" src="EXT:sysmon2/Resources/Public/JavaScript/bootstrap.bundle.min.js" />
    <f:asset.script identifier="carousel" src="EXT:sysmon2/Resources/Public/JavaScript/owl.carousel.min.js" />
    <f:asset.script identifier="active" src="EXT:sysmon2/Resources/Public/JavaScript/active.js" />
</body>

</html>