<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="Site Description">
	<meta name="keywords" content="HTML, CSS, JavaScript, Bootstrap">
	<meta name="author" content="Mr. Who">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dashboard</title>


	<!-- Google Fonts -->
	<!-- <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Sanchez:ital@0;1&display=swap"
		rel="stylesheet"> -->
	<link rel="stylesheet" href="EXT:sysmon2/Resources/Public/Fonts/google-fonts.css">

	<!-- Bootstrap -->
    <f:asset.css identifier="bootstrap" href="EXT:sysmon2/Resources/Public/Css/bootstrap.min.css" />
	<!-- owl.carousel -->
    <f:asset.css identifier="owl.carousel" href="EXT:sysmon2/Resources/Public/Css/owl.carousel.min.css" />
    <f:asset.css identifier="owl.theme" href="EXT:sysmon2/Resources/Public/Css/owl.theme.default.min.css" />
	<!-- Main Css -->
    <f:asset.css identifier="main" href="EXT:sysmon2/Resources/Public/Css/style.css" />
	<!-- Responsive Css -->
    <f:asset.css identifier="responsive" href="EXT:sysmon2/Resources/Public/Css/responsive.css" />

</head>

<body>

	<div class="bodyWrap dashboard">

		<div class="container">
			<div class="dashboard_wraper row">
				<div class="dashboard_main">
					<h1 class="dash-title">System/Display Report für <f:format.date format="%B">{date}</f:format.date> 2022</h1>
					<div class="list_box">
						<h2>Offline im <f:format.date format="%B">{date}</f:format.date></h2>
						<p>Übersicht der Systeme die im <f:format.date format="%B">{date}</f:format.date> duchgehend Offline waren</p>
						<div class="dash-table">
							<table class="table">
								<thead>
									<tr>
										<th>ID</th>
										<th>Adresse</th>
										<th>Ort</th>
										<th>Anschluß</th>
										<th>Modell</th>
										<th>Letzte Datenübertragung</th>
									</tr>
								</thead>
								<tbody>
									<f:for each="{alwaysOffline}" as="checkedSystem">
										<tr>
											<td>{checkedSystem.id}</td>
											<td>{checkedSystem.deployment.address.street} {checkedSystem.deployment.address.house_number}</td>
											<td>{checkedSystem.deployment.address.zip_code} {checkedSystem.deployment.address.city}</td>
											<td>{checkedSystem.deployment.connection}</td>
											<td>{checkedSystem.model}</td>
											<td>
												<f:if condition="{checkedSystem.last_sync} === NULL">
													<f:then>
														Never
													</f:then>
													<f:else>
														<f:format.date format="d.m.Y">{checkedSystem.last_sync}</f:format.date>
													</f:else>
												</f:if>
											</td>
											<td>
												<input type="checkbox" class="tableCheckbox" id="checkobx-5">
												<label for="checkobx-5"><span></span></label>
											</td>
										</tr>
									</f:for>
								</tbody>
							</table>
						</div>
						<a href="#" class="location_pin" data-bs-toggle="modal" data-bs-target="#tableModal1">
							<img src="/typo3conf/ext/sysmon2/Resources/Public/Icons/lightbulb.svg" alt="lightbulb"> Was können Sie tun?
						</a>
					</div>
					<div class="list_box">
						<h2>Download/Upload kritisch im März</h2>
						<p>Übersicht der Systeme deren Übertragungsgeschwindigkeit unter den Mindestanforderungen lag. </br>(min. Download = 1.9 Mbit/s, min. Upload  = 0.48 Mbits/s)
						</p>
						<div class="dash-table">
							<table class="table">
								<thead>
									<tr>
										<th>ID</th>
										<th>Adresse</th>
										<th>Ort</th>
										<th>Anschluß</th>
										<th>Downstream</th>
										<th>Upstream</th>
									</tr>
								</thead>
								<tbody>
									<f:for each="{downlaodUploadCritical}" as="checkedSystem">
										<tr>
											<td>{checkedSystem.id}</td>
											<td>{checkedSystem.deployment.address.street} {checkedSystem.deployment.address.house_number}</td>
											<td>{checkedSystem.deployment.address.zip_code} {checkedSystem.deployment.address.city}</td>
											<td>{checkedSystem.deployment.connection}</td>
											<td>
												<f:if condition="{checkedSystem.mean.download} > 0">
													<f:then>
														<f:format.number decimals="2" decimalSeparator="," thousandsSeparator=".">
															{checkedSystem.mean.downloadMbps}
														</f:format.number> Mbit/s
													</f:then>
													<f:else>
														N/A
													</f:else>
												</f:if>
											</td>
											<td>
												<f:if condition="{checkedSystem.mean.upload} > 0">
													<f:then>
														<f:format.number decimals="2" decimalSeparator="," thousandsSeparator=".">
															{checkedSystem.mean.uploadMbps}
														</f:format.number> Mbit/s
													</f:then>
													<f:else>
														N/A
													</f:else>
												</f:if>
											</td>
										</tr>
									</f:for>
								</tbody>
							</table>
						</div>
						<a href="#" class="location_pin" data-bs-toggle="modal" data-bs-target="#tableModal2">
							<img src="/typo3conf/ext/sysmon2/Resources/Public/Icons/lightbulb.svg" alt="lightbulb"> Was können Sie tun?
						</a>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="list_box">
								<h2>Nicht verbaute Displays</h2>
								<p>Displays die bereits für Sie eingerichtet wurden</p>
								<div class="dash-list">
									<h3>In Bereitschaft stehende Displays</h3>
									<ul>
										<f:for each="{notFitted}" as="checkedSystem">
											<li>
												<p>{checkedSystem.deployment.address.street} {checkedSystem.deployment.address.house_number}</p>
												<p>{checkedSystem.deployment.address.zip_code} {checkedSystem.deployment.address.city}</p>
											</li>
										</f:for>
									</ul>
								</div>
								<a href="#" class="location_pin" data-bs-toggle="modal" data-bs-target="#tableModal3">
									<img src="/typo3conf/ext/sysmon2/Resources/Public/Icons/lightbulb.svg" alt="lightbulb"> Was können Sie tun?
								</a>
							</div>
						</div>
						<div class="col-md-6">
							<div class="list_box">
								<h2>Überhitze Systeme</h2>
								<p>Die empfohlene Höchsttemeratur dauerhaft überschritten</p>
								<div class="dash-list">
									<h3>Warung vor Überhitzung</h3>
									<ul>
										<f:for each="{sensorsCritical}" as="checkedSystem">
											<li>
												<p>{checkedSystem.deployment.address.street} {checkedSystem.deployment.address.house_number}</p>
												<p>{checkedSystem.deployment.address.zip_code} {checkedSystem.deployment.address.city}</p>
											</li>
										</f:for>
									</ul>
								</div>
								<a href="#" class="location_pin" data-bs-toggle="modal" data-bs-target="#tableModal4">
									<img src="/typo3conf/ext/sysmon2/Resources/Public/Icons/lightbulb.svg" alt="lightbulb"> Was können Sie tun?
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="dashboard_right">
					<a href="#" class="dashdigital">
						<img src="/typo3conf/ext/sysmon2/Resources/Public/Icons/DasDigitaleBrett_Logo.svg" alt="DasDigitaleBrett_Logo">
					</a>
					<div class="SupportanfrageBox">
						<img src="/typo3conf/ext/sysmon2/Resources/Public/Icons/rocket.svg" class="rocket">
						<h3>Supportanfrage</h3>
						<p>Serviceanfrage zu dieser Seite an die Technik</p>
						<a href="#" class="whiteBtn">SENDEN</a>
					</div>
					<div class="rightBottom">
						<p>HOMEINFO SERVICE GMBH</p>
						<h4>0511 / 12 34 56</h4>
						<a href="mailto:helpdesk@homeinfoservicegmbh.de">helpdesk@homeinfoservicegmbh.de</a>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal 1-->
		<div class="tableModal modal fade" id="tableModal1" tabindex="-1" aria-labelledby="tableModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body">
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
							<img src="assets/img/close.svg" alt="">
						</button>
						<h2>OFFLINE HILFE</h2>
						<h4>Hilfe bei Konnektivitätsproblemen</h4>
						<p>Beauftragen Sie einen Neustart vor Ort durch den Hauswart. Sollte der Neustart keinen Erfolg bringen liegt es in der Regel an einer fehlenden Internet-Verbindung. Überprüfen Sie bei die Internetverbindung, und führen Sie einen Neustart des Modems durch. Wenden Sie sich bei fehlender Internetverbindung an Ihren Internet Provider. Wenn hier ein funktionierendes Modem durch den Ihren Internet Provider bestätigt wurde, ist es sinnvoll das Gerät durch unsere Techniker vor Ort zu prüfen oder dass Display einzuschicken. (Siehe 'BRING-IN-SERVICE')</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal 2-->
		<div class="tableModal modal fade" id="tableModal2" tabindex="-1" aria-labelledby="tableModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body">
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
							<img src="assets/img/close.svg" alt="">
						</button>
						<h2>UPLAOD/DOWNLOAD</h2>
						<h4>Hinweis zur Internetbandbreite</h4>
						<p>Unsere Geräte erfordern mindestens 1.9 Mbit/s Download und 0.48 Mbits/s Upload. Bitte stellen Sie sicher, dass diese Bandbreite ständig verfügbar ist und besprechen Sie dies mit Ihrem Internet Provider. Eine nicht ausreichende Bandbreite kann die Funktionalität beeinträchtigen.</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal 3-->
		<div class="tableModal modal fade" id="tableModal3" tabindex="-1" aria-labelledby="tableModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body">
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
							<img src="assets/img/close.svg" alt="">
						</button>
						<h2>NICHT VERBAUTE DISPLAYS</h2>
						<h4>Hinweise zur nicht verbauen Systemen</h4>
						<p>Alle ausgelieferten Geräte haben bereits einen Funktionstest durchlaufen. Wenn Sie ein bereits eingerichtetes, aber noch nicht verbautes Display erhalten haben, sollten Sie es anbringen und in Betrieb nehmen. Sollte es dennoch zu Problemen kommen, wenden Sie sich bitte an unseren Kundendienst. Wenn das Gerät bereits eingerichtet ist, aber noch nicht geliefert wurde wird es noch getestet und in kürze ausgeliefert und ggf. montiert.</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal 4-->
		<div class="tableModal modal fade" id="tableModal4" tabindex="-1" aria-labelledby="tableModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body">
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
							<img src="assets/img/close.svg" alt="">
						</button>
						<h2>ÜBERHITZE SYSTEME</h2>
						<h4>Hinweis zur Temperatur</h4>
						<p>Wenn Ihr Display Überhitzt, empfehlen wir Folgendes zu tun: </br>
Überprüfen Sie, ob die Lüfter funktionieren und ausreichend frei von Staub sind.</br>
Überprüfen Sie, ob die Luftzirkulation im Gehäuse ausreichend ist.</br>
Wenn die Überhitzung weiterhin besteht, wenden Sie sich an den Kundendienst.</p>
					</div>
				</div>
			</div>
		</div>

	</div> <!-- /.bodyWrap -->

	<!-- Js -->
    <f:asset.script identifier="jquery" src="EXT:sysmon2/Resources/Public/JavaScript/jquery.min.js" />
    <f:asset.script identifier="bootstrap" src="EXT:sysmon2/Resources/Public/JavaScript/bootstrap.bundle.min.js" />
    <f:asset.script identifier="carousel" src="EXT:sysmon2/Resources/Public/JavaScript/owl.carousel.min.js" />
    <f:asset.script identifier="active" src="EXT:sysmon2/Resources/Public/JavaScript/active.js" />
</body>

</html>
